@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background: #eae7dc;
}

.header {
    font-family: 'Poppins', sans-serif;
    font-size: 42px;
    font-weight: 500;
    height: 80px;
    margin-bottom: 60px;
    color: #8e8d8a;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body * {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    font-weight: 300;
}

.body {
    font-family: 'Roboto', sans-serif;
    padding: 1% 15%;
    margin-bottom: 50px;
    display: flex;
    gap: 8em;
    flex-wrap: wrap;
}

.tools {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.button {
    width: 185px;
    padding: 8px 55px;
    background: transparent;
    border: 1px solid #6e6e6e;
    border-radius: 10px;
    transition: 0.3s, color 0.1s;
}

.button:hover {
    transform: scale(1.08);
    border: 2px solid #6e6e6e;
}

.button:active {
    background: #6e6e6e;
    color: white
}

.current {
    transform: scale(1.1);
    background: #6e6e6e;
    color: white;
}

.color-pick {
    width: 185px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 0.3s;
}

.color-pick:hover {
    transform: scale(1.1);
}

.color {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: 0.3s;
}

.color::-webkit-color-swatch {
    border-radius: 50%;
}

/* .sketchpad-container {

} */

.sketchpad {
    background: white;
    width: 550px;
    height: 550px;
    display: grid;
    margin: 0;
    padding: 0;
    gap: 0;
}

.footer {
    font-family: 'Roboto', sans-serif;
    font-size: large;
    color: #6e6e6e;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.footer a {
    color: #6e6e6e;
    transition: 0.3s;
}

.footer a:hover {
    transform: scale(1.05);
    color: black;
}